
.wrapper {
    width:100%;
    height: 400px;
    margin: auto;
    margin: 0,10px,0,10px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
  
}
Image{
    background-position: center;
}
button{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}