.mainbody{
    padding-left:10% ;
    padding-right:10% ;
}

.product{
    /* border: 1px solid rgb(149, 25, 25); */
    width: 100%;
}

.card{
    padding: 10%;
    height: 380px;
    border: 1px solid rgb(248, 245, 245);
}

.splitmainpage{
    display: flex;

}

.filter{
    border: 1px solid rgb(225, 216, 225);
    width: 40%;
}

.owner{
    color: #747474;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Futura', sans-serif;
}

.tit {
    color: #333333;
    font-size: 15px;
    display: inline-block;
    font-weight: 700;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Futura', sans-serif;
}

.flex{
    display: flex;
    text-align: center;
    justify-content: center;
}

.save{
    font-size: 14px;
    font-weight: 400;
    color: #ff4e4e;
    white-space: nowrap;
    width: 40%;
}

.dis_price,.price{
    display: inline-block;
    white-space: nowrap;
    margin-right: 6px;
    color: #333!important;
    font-size: 15px;
    font-weight: 400;
}

.price{
text-decoration: line-through;
}

h1{ 
    font-family: Tiemann,serif;
    font-weight: 400;
}

.sec{
    margin-bottom: 2%;
    margin-top: 1%;
    width: auto;
    display: flex;
    justify-content:space-between;
}

.filter{
    height: max-content;
}

.hover-switch > img:last-of-type {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
  }

  .hover-switch:hover > img:last-of-type {
    opacity: 0;
  }


  .hover-switch > img {
    position: absolute;
    height: 25%;
    width: 16%;
    margin-bottom: 20px;
  }


  